body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

h1 {
  text-align: center;
  margin-top: 50%;
  font-size: 5em;
  padding-bottom: 0;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 0 0 10px #9c9c9c;
}

h2 {
  padding-top: 0;
  margin: 0;
  text-align: center;
  font-size: 2em;
  font-weight: 400;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 0 0 10px #9c9c9c;
  opacity: 0;
}

p {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 2vw;
  text-align: center;
  width: 60%;

  p {
    margin: 0 0 5vh;
    text-align: center;
    font-size: 2.5vw;
    width: 98%;
    font-weight: 400;
  }

  a {
    color: rgb(0, 255, 55);
  }

  footer p {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    text-align: center;
    width: 100%;
    margin-top: 5vh;
  }
}

a {
  color: #fff;
  text-decoration: underline;
}

@media (max-width: 768px) {
  p p {
    font-size: 8vw;
  }
}