.container {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: radial-gradient(circle at center, #003953, #060016);
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.error {
  text-align: center;
  margin-top: 15vh;
  font-size: 5em;
  padding-bottom: 0;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 0 0 10px #9c9c9c;
}

.notfound {
  padding-top: 0;
  margin: 0;
  text-align: center;
  font-size: 2em;
  font-weight: 400;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 0 0 10px #9c9c9c;
  opacity: 0;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2vh;
  opacity: 0;
}

.message {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 0 0 5vh;
  text-align: center;
  font-size: 2.5vw;
  width: 68%;
  font-weight: 400;
}

.link {
  color: rgb(0, 255, 55);
}

.aFooter {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  font-weight: 200;
  text-align: center;
  width: 100%;
  margin-top: 5vh;
}

.footer {
  color: #fff;
  width: 100vw;
}

.scrollAnimation {
  animation: scrollUpDown 2s infinite ease-in-out;
}

.unfadeAnimation {
  animation: unfadeDown 0.5s forwards ease-in-out;
  text-shadow: 0 0 10px #9c9c9c;
}

@media (max-width: 768px) {
  .error {
    margin: 0;
    margin-top: 5vh;
  }

  .notfound {
    font-size: 15vw;
  }

  .main {
    width: 98%;
  }

  .main p {
    width: 95%;
  }

  .message {
    font-size: 4vw;
  }
}

@keyframes scrollUpDown {
  0% { transform: translateY(0); }
  50% { transform: translateY(1vh); }
  100% { transform: translateY(0); }
}

@keyframes unfadeDown {
  0% {
    opacity: 0;
    transform: translateY(-5vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}